html,
body {
	margin:0;
	padding:0;
	height:100%;
}



body 
{	
	background-color:black;
	
}

#wrapper {
	min-height:100%;
	position:relative;
}

#bg1 {
	width:100%;
	height:50%;
	position:absolute;
	top:0;
	background-color:grey;
	
}

#info {
	position:relative;
	left:20px;
	top:230px;
}
#photo {
	padding-bottom:20px; /* Height of the footer element */
	width:200px;
	height:200px;
	background-image:url("DP.png");
	position:absolute;
	top:50%;
	left:40%;
}

#footer {
	background:black;
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	color:white;
	text-align: center;
}




